html(lang="en")
	head
		title Dynamic Prototype Mobilization Course

		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		meta(name="description" content="")

		meta(name="author" content="")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

		script(src="javascripts/bootstrap.js")

		link(href="css/style.css" rel="stylesheet")



	body
		section.container

			section.row
				sidebar.col-sm-3
					img(src="image.jpg")

					ul
						li 
							a(href="#") Chapter 1: What is the Mobile Web?
						li 
							a(href="#") Chapter 2: Do You Need a Mobile Optimized Web?
						li 
							a(href="#") Chapter 3: 26 Tips on optimizing your website for mobile - From Planning to Development to Launch
						li 
							a(href="#") Chapter 4: DIY or Hire Help?
						li 
							a(href="#") Chapter 5: On Mobile SEO - Tips to Make your Mobile Site Seen by Google AND Conclusion


				article.col-sm-9
					section#chapter-banner

						section.row
							h4 Chapter 1

							h1 Chapter 1 Title

							article.col-sm-6

								p 
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa leo, molestie ut tincidunt id, pellentesque et elit. Mauris tincidunt at enim quis tempus. Vivamus mollis eros et congue bibendum. Cras in laoreet sem, non pellentesque tortor. Duis fringilla imperdiet malesuada. Duis convallis sed diam id porttitor. Vivamus iaculis porttitor congue. Donec ultricies dui nisl, a tempor dui mollis convallis.

							article.col-sm-6

								p 
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa leo, molestie ut tincidunt id, pellentesque et elit. Mauris tincidunt at enim quis tempus. Vivamus mollis eros et congue bibendum. Cras in laoreet sem, non pellentesque tortor. Duis fringilla imperdiet malesuada. Duis convallis sed diam id porttitor. Vivamus iaculis porttitor congue. Donec ultricies dui nisl, a tempor dui mollis convallis.


						section.row
							article.col-sm-7
								h4 3 Successful Mobile Stories...	

							article.col-sm-5
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa leo, molestie ut tincidunt id, pellentesque et elit. 


						section.row
							figure.col-sm-4
								img(src="image.jpg")

							figure.col-sm-4
								img(src="image.jpg")

							figure.col-sm-4
								img(src="image.jpg")


						section.row

							article.col-sm-6
								p 
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa leo, molestie ut tincidunt id, pellentesque et elit. Mauris tincidunt at enim quis tempus. Vivamus mollis eros et congue bibendum. Cras in laoreet sem, non pellentesque tortor. Duis fringilla imperdiet malesuada. Duis convallis sed diam id porttitor. Vivamus iaculis porttitor congue. Donec ultricies dui nisl, a tempor dui mollis convallis.

							article.col-sm-6
								p 
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa leo, molestie ut tincidunt id, pellentesque et elit. Mauris tincidunt at enim quis tempus. Vivamus mollis eros et congue bibendum. Cras in laoreet sem, non pellentesque tortor. Duis fringilla imperdiet malesuada. Duis convallis sed diam id porttitor. Vivamus iaculis porttitor congue. Donec ultricies dui nisl, a tempor dui mollis convallis.

						section.row
							footer
								article.col-sm-6
									form(class="subscribe-form")
										input(type="text" class="email-field")
										input(type="text" class="subscribe-button")

								article.col-sm-6
									p Contact information goes here.		