html(lang="en")
	head
		title Dynamic Prototype Mobilization Course

		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		meta(name="description" content="")

		meta(name="author" content="")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

		script(src="javascripts/bootstrap.js")

		link(href="css/style.css" rel="stylesheet")



	body
		section.container
			section.row
				sidebar.col-sm-3
					img(src="image.jpg")

					ul
						li 
							a(href="#") Chapter 1: What is the Mobile Web?
						li 
							a(href="#") Chapter 2: Do You Need a Mobile Optimized Web?
						li 
							a(href="#") Chapter 3: 26 Tips on optimizing your website for mobile - From Planning to Development to Launch
						li 
							a(href="#") Chapter 4: DIY or Hire Help?
						li 
							a(href="#") Chapter 5: On Mobile SEO - Tips to Make your Mobile Site Seen by Google AND Conclusion

				article.col-sm-9
					section#main-banner
						h1 How Mobile Optimizations Will Change Improve Your Business

						form(class="subscribe-form")
							input(type="text" class="email-field")
							input(type="text" class="subscribe-button")

					section#homepage-content
						section
							picture
								a(href="#")
									img(src="images/image.jpg")

							section.description
								h1
									a(href="#") Headline Goes Here

								p Chapter number goes here (e.g. Chapter 1)

								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa leo, molestie ut tincidunt id, pellentesque et elit. Mauris tincidunt at enim quis tempus. 

								p.read-more 
									a(href="#") Read More

						section.row
							picture
								a(href="#")
									img(src="images/image.jpg")

							section.description
								h1
									a(href="#") Headline Goes Here

								p Chapter number goes here (e.g. Chapter 1)

								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa leo, molestie ut tincidunt id, pellentesque et elit. Mauris tincidunt at enim quis tempus. 

								p.read-more 
									a(href="#") Read More

						section.row
							picture
								a(href="#")
									img(src="images/image.jpg")

							section.description
								h1
									a(href="#") Headline Goes Here

								p Chapter number goes here (e.g. Chapter 1)

								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer massa leo, molestie ut tincidunt id, pellentesque et elit. Mauris tincidunt at enim quis tempus. 

								p.read-more 
									a(href="#") Read More

						section.row
							footer
								p Footer goes here.